<section class="articles">
  <h2 class="articles__heading">Latest Posts</h2>

  <ul class="admin-posts">
    <% data.forEach(post => { %>
    <li>
      <!-- Check if post's user data is available and has an avatar -->
      <% if (post.userId && post.userId.avatar) { %>
      <img
        src="<%= post.userId.avatar %>"
        alt="User Avatar"
        style="width: 50px; height: 50px; border-radius: 50%"
      />
      <% } else { %>
      <img
        src="/uploads/default_avatar.png"
        alt="Default Avatar"
        style="width: 50px; height: 50px; border-radius: 50%"
      />
      <% } %>
      <span><%= post.userId%></span>
      <a href="/post/<%= post._id %>">
        <span><%= post.title %></span>
        <span class="article-list__date"
          ><%= post.createdAt.toDateString() %></span
        >
      </a>
    </li>
    <% }) %>
  </ul>

  <% if (nextPage !== null) { %>
  <a href="/?page=<%= nextPage %>" class="pagination">&lt; View Older Posts</a>
  <% } %>
</section>
